<%= render 'shared/search_bar' %>

<h1><%= @type.capitalize %> Search Results</h1>

<ul class="session">
  <% if (@type <=> 'users') == 0 %>
    <% @results.each do |user| %>
          <li>
            <% if signed_in? %>
                <%= link_to user.username, inspect_user_path(:user_param => user) %>
                <% if signed_in? && current_user.is_admin? %>
                    <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>

            <% else %>
                <%= user.username %>
            <% end %>
          </li>
    <% end %>
  <% end %>
  <% if (@type <=> 'posts') == 0 %>
      <% @results.each do |post| %>
          <li>
            <% if signed_in? %>
                <%= link_to post.content, inspect_post_path(:post_param => post) %>
            <% else %>
                <%= post.content%> <%= ": Posted by user "+post.user.username %>
          <% end %>
            <% if signed_in? && (current_user.is_admin? || current_user.id == post.user_id) %>
              <%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" } %>
            <% end %>
          </li>
      <% end %>
  <% end %>
  <% if @results.size == 0 %>
    <h4>No Results Returned</h4>
  <% end %>

</ul>

<%= link_to "Home", home_path %>


<% if signed_in? %>
    <%= link_to "User Page: "+ current_user.username, current_user %>
    <%= link_to "Sign out", signout_path, method: "delete" %>
<% end %>